1. Sai Sumana Adurugatla : 1002073766
2. MIR MUSTAFA ALI       : 1002117402
3. Kiran Mai Akaram      : 1002115618

# Assignment 3 - Association Rule Mining

## Instructions

Association rule mining with Apriori and FP-Growth algorithm.

Simply run the cell to load the dataset.

The dataset consists of 21293 observations from a bakery. The data file contains four variables, Date, Time, Transaction ID and Item. Transaction ID ranges from 1 through 9684. However, there are some skipped numbers in Transaction IDs.

In [ ]:
import pandas as pd

data = pd.read_csv("Data_batch3.csv")
data

             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
2      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[21293 rows x 4 columns]

### Task A:

1. Print data details
2. Check for null values and solve them using appropriate method.
3. Drop items that are labeled as 'NONE' and 'Adjustment' as it doesnt make any sense.
4. Drop any duplicates.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         21293 non-null  object
 1   Time         21293 non-null  object
 2   Transaction  21293 non-null  int64
 3   Item         21293 non-null  object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB

In [ ]:
# Check for null values and print the result
null_values = data.isnull().sum()
print("Null values in each column:")
print(null_values)

Null values in each column:
Date           0
Time           0
Transaction    0
Item           0
dtype: int64

In [ ]:
# Assume removing items labeled 'NONE' and 'Adjustment', though not present in the sample data
data = data[~data['Item'].isin(['NONE', 'Adjustment'])]

In [ ]:
# Drop duplicates and print the cleaned data
data.drop_duplicates(inplace=True)
print("Data after removing duplicates:")
print(data)

Data after removing duplicates:
             Date      Time  Transaction           Item
0      2016-10-30  09:58:11            1          Bread
1      2016-10-30  10:05:34            2   Scandinavian
3      2016-10-30  10:07:57            3  Hot chocolate
4      2016-10-30  10:07:57            3            Jam
5      2016-10-30  10:07:57            3        Cookies
...           ...       ...          ...            ...
21288  2017-04-09  14:32:58         9682         Coffee
21289  2017-04-09  14:32:58         9682            Tea
21290  2017-04-09  14:57:06         9683         Coffee
21291  2017-04-09  14:57:06         9683         Pastry
21292  2017-04-09  15:04:24         9684      Smoothies

[18886 rows x 4 columns]

/var/folders/sv/zq32tf5j70sgdp__5gjt3jqh0000gn/T/ipykernel_89382/3217121208.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop_duplicates(inplace=True)

### Task B:

Create a list of lists with grouping on the transaction and store it in a dataframe.

In [ ]:
grouped = data.groupby('Transaction')['Item'].apply(list).reset_index()
# Creating a new DataFrame from the grouped data
lists = grouped.reset_index(drop=True).values.tolist()

transaction_items_df = pd.DataFrame(lists, columns=['transaction', 'items'])
transaction_items_df

      transaction                                              items
0               1                                            [Bread]
1               2                                     [Scandinavian]
2               3                      [Hot chocolate, Jam, Cookies]
3               4                                           [Muffin]
4               5                            [Coffee, Pastry, Bread]
...           ...                                                ...
9459         9680                                            [Bread]
9460         9681  [Truffles, Tea, Spanish Brunch, Christmas common]
9461         9682                [Muffin, Tacos/Fajita, Coffee, Tea]
9462         9683                                   [Coffee, Pastry]
9463         9684                                        [Smoothies]

[9464 rows x 2 columns]

### Task C:

Transform the data having unique item as column name and indication of the item in the each transaction as 0/1.

In [ ]:
grouped = data.groupby('Transaction')['Item'].apply(list).reset_index()

item_dummies = grouped['Item'].str.join('|').str.get_dummies()


transformed_df = grouped[['Transaction']].join(item_dummies).drop(columns="Transaction", axis=1)

transformed_df

,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,Bowl Nic Pitt,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9459,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9460,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9461,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9462,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Task D:

Apply apriori algorithm with 0.01 support

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth


frequent_itemsets = apriori(transformed_df, min_support=0.01, use_colnames=True)
frequent_itemsets

/Users/mirmustafaali/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                 itemsets
0   0.036348              (Alfajores)
1   0.016061               (Baguette)
2   0.327240                  (Bread)
3   0.040046                (Brownie)
4   0.103867                   (Cake)
..       ...                      ...
56  0.023669          (Coffee, Toast)
57  0.014370          (Sandwich, Tea)
58  0.010038    (Cake, Coffee, Bread)
59  0.011200  (Coffee, Bread, Pastry)
60  0.010038      (Cake, Coffee, Tea)

[61 rows x 2 columns]

### Task E:

Print top 5 association rules for support metric and 0.01 threshold in accordance with support value.

In [ ]:

rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
rules.sort_values(by='support',  ascending=False)[:5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
8,(Coffee),(Bread),0.478445,0.327240,0.090025,0.188163,0.574998,-0.066541,0.828688,-0.586294
9,(Bread),(Coffee),0.327240,0.478445,0.090025,0.275105,0.574998,-0.066541,0.719491,-0.523506
25,(Coffee),(Cake),0.478445,0.103867,0.054734,0.114399,1.101399,0.005039,1.011893,0.176517
24,(Cake),(Coffee),0.103867,0.478445,0.054734,0.526958,1.101399,0.005039,1.102557,0.102734
51,(Tea),(Coffee),0.142646,0.478445,0.049873,0.349630,0.730763,-0.018375,0.801936,-0.300568

### Task F:

Store the association rules from top to bottom with respect to lift parameter and store it in a variable.

In [ ]:
# Generate the association rules from these frequent itemsets
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.01)
rules_sorted_by_lift = rules.sort_values(by='lift', ascending=False)

rules_sorted_by_lift[:5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
71,(Cake),"(Coffee, Tea)",0.103867,0.049873,0.010038,0.096643,1.937773,0.004858,1.051773,0.540036
70,"(Coffee, Tea)",(Cake),0.049873,0.103867,0.010038,0.201271,1.937773,0.004858,1.121949,0.509346
27,(Hot chocolate),(Cake),0.058326,0.103867,0.011412,0.195652,1.883675,0.005353,1.114111,0.498180
26,(Cake),(Hot chocolate),0.103867,0.058326,0.011412,0.109868,1.883675,0.005353,1.057903,0.523497
28,(Cake),(Tea),0.103867,0.142646,0.023774,0.228891,1.604612,0.008958,1.111846,0.420469

### Task G:

Understand this,

- antecedent support: If X is called antecendent, 'antecedent support' computes the proportion of transactions that contain the antecedent X.
- consequent support: If Y is called consequent, 'consequent support' computes the proportion of transactions that contain the antecedent Y.
- support: 'support' computes the proportion of transactions that contain the antecedent X and Y.
- confidence: Probability of buying Y when X is bought.
- lift: Represents how many times the probability of getting Y increases when X is received.

Define a function which takes the (sorted values from the association rules,item) and returns top recommendation list for that item.

Tip: the recommendated item are Consequents by matching the product antecedents as item to search for.

In [ ]:
def get_top_recommendations(rules_sorted_by_lift, item):

    filtered_rules = rules_sorted_by_lift[rules_sorted_by_lift['antecedents'].apply(lambda x: item in x)]

    recommendations = filtered_rules.sort_values(by='confidence', ascending=False)['consequents'].apply(list).tolist()

    recommended_items = list(set([item for sublist in recommendations for item in sublist]))

    return recommended_items

### Task H:

Print top 5 reccomendated items for Bread.

In [ ]:
recommended_items_for_bread = get_top_recommendations(rules_sorted_by_lift, 'Bread')[:5]
recommended_items_for_bread

['Coffee', 'Medialuna', 'Pastry', 'Tea', 'Hot chocolate']

### Task I:

Print top 5 reccomendated items for Bread with 0.025 support.

In [ ]:

frequent_itemsets = apriori(transformed_df, min_support=0.025, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.01)
rules_sorted_by_lift = rules.sort_values(by='lift', ascending=False)




recommended_items_for_bread = get_top_recommendations(rules_sorted_by_lift, 'Bread')
recommended_items_for_bread[:5]

/Users/mirmustafaali/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

['Coffee', 'Pastry', 'Tea']

### Task J:

Perform task D through I except task G using FP-Growth algorithm.

In [ ]:
from mlxtend.frequent_patterns import fpgrowth


# TASK D
fp_frequent_itemsets = fpgrowth(transformed_df, min_support=0.01, use_colnames=True)

# TASK E
fp_rules = association_rules(fp_frequent_itemsets, metric="support", min_threshold=0.01)
fp_rules_support = fp_rules.sort_values(by='support',  ascending=False)
fp_rules_support

/Users/mirmustafaali/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Coffee),(Bread),0.478445,0.327240,0.090025,0.188163,0.574998,-0.066541,0.828688,-0.586294
1,(Bread),(Coffee),0.327240,0.478445,0.090025,0.275105,0.574998,-0.066541,0.719491,-0.523506
36,(Cake),(Coffee),0.103867,0.478445,0.054734,0.526958,1.101399,0.005039,1.102557,0.102734
37,(Coffee),(Cake),0.478445,0.103867,0.054734,0.114399,1.101399,0.005039,1.011893,0.176517
28,(Coffee),(Tea),0.478445,0.142646,0.049873,0.104240,0.730763,-0.018375,0.957125,-0.413975
...,...,...,...,...,...,...,...,...,...,...
52,(Coffee),"(Cake, Bread)",0.478445,0.023352,0.010038,0.020981,0.898462,-0.001134,0.997578,-0.178095
51,(Cake),"(Coffee, Bread)",0.103867,0.090025,0.010038,0.096643,1.073508,0.000687,1.007326,0.076411
50,"(Coffee, Bread)",(Cake),0.090025,0.103867,0.010038,0.111502,1.073508,0.000687,1.008593,0.075249
49,"(Cake, Bread)",(Coffee),0.023352,0.478445,0.010038,0.429864,0.898462,-0.001134,0.914792,-0.103714
47,(Tea),"(Cake, Coffee)",0.142646,0.054734,0.010038,0.070370,1.285686,0.002231,1.016820,0.259175

In [ ]:
# TASK F
fp_rules = association_rules(fp_frequent_itemsets, metric="lift", min_threshold=0.01)
fp_rules_sorted_by_lift = fp_rules.sort_values(by='lift', ascending=False)

fp_rules_sorted_by_lift[:5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
45,(Cake),"(Coffee, Tea)",0.103867,0.049873,0.010038,0.096643,1.937773,0.004858,1.051773,0.540036
44,"(Coffee, Tea)",(Cake),0.049873,0.103867,0.010038,0.201271,1.937773,0.004858,1.121949,0.509346
6,(Cake),(Hot chocolate),0.103867,0.058326,0.011412,0.109868,1.883675,0.005353,1.057903,0.523497
7,(Hot chocolate),(Cake),0.058326,0.103867,0.011412,0.195652,1.883675,0.005353,1.114111,0.498180
38,(Cake),(Tea),0.103867,0.142646,0.023774,0.228891,1.604612,0.008958,1.111846,0.420469

In [ ]:
# TASK H

recommended_items_for_bread = get_top_recommendations(fp_rules_sorted_by_lift, 'Bread')

print(recommended_items_for_bread[:5])

['Coffee', 'Medialuna', 'Pastry', 'Tea', 'Hot chocolate']

In [ ]:
# TASK I

fp_frequent_itemsets = fpgrowth(transformed_df, min_support=0.025, use_colnames=True)

fp_rules = association_rules(fp_frequent_itemsets, metric="lift", min_threshold=0.01)
fp_rules_sorted_by_lift = fp_rules.sort_values(by='lift', ascending=False)



fp_recommended_items_for_bread = get_top_recommendations(fp_rules_sorted_by_lift, 'Bread')
fp_recommended_items_for_bread[:5]

/Users/mirmustafaali/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

['Coffee', 'Pastry', 'Tea']

### Task K:

Print Top 3 recommendations for below products using Apriori with 0.015 support
- Medialuna
- Sandwich
- Cake

In [ ]:
frequent_itemsets = apriori(transformed_df, min_support=0.015, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.01)
rules_sorted_by_lift = rules.sort_values(by='lift', ascending=False)



for item in ['Medialuna', "Sandwich", "Cake"]:
    recommended_items_for_bread = get_top_recommendations(rules_sorted_by_lift, item)
    print(f"====Recommendatation for {item.upper()}====")
    print(", ".join(recommended_items_for_bread[:5]))

====Recommendatation for MEDIALUNA====
Coffee, Bread
====Recommendatation for SANDWICH====
Coffee, Bread
====Recommendatation for CAKE====
Coffee, Bread, Tea

/Users/mirmustafaali/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

### Task L:

Print Top 3 recommendations for below products using FP-Growth algorithm with 0.015 support
- Hot Chocolate
- Muffin
- Pastry

In [ ]:
frequent_itemsets = fpgrowth(transformed_df, min_support=0.015, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.01)
rules_sorted_by_lift = rules.sort_values(by='lift', ascending=False)


for item in ['Hot chocolate', "Muffin", "Pastry"]:
    recommended_items_for_bread = get_top_recommendations(rules_sorted_by_lift, item)
    print(f"====Recommendatation for {item.upper()}====")
    print(", ".join(recommended_items_for_bread[:5]))

====Recommendatation for HOT CHOCOLATE====
Coffee
====Recommendatation for MUFFIN====
Coffee
====Recommendatation for PASTRY====
Coffee, Bread

/Users/mirmustafaali/anaconda3/lib/python3.11/site-packages/mlxtend/frequent_patterns/fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

### Task M:

Submit a document showing your solution for below problem.

For the data on apriori image in the folder, apply apriori algorithm by

- Computing the support for each individual item
- Use 7 as the minimum support.
- Generate Association Rules and compute confidence
- use min confidence as 85%.

# Apriori Problem

## Table-1: Transactions and Products
| Transaction | Products                                     |
|-------------|----------------------------------------------|
| 1           | Beer, wine, cheese                           |
| 2           | Beer, potato chips                           |
| 3           | Eggs, flour, butter, cheese                  |
| 4           | Eggs, flour, butter, beer, potato chips      |
| 5           | Wine, cheese                                 |
| 6           | Potato chips                                 |
| 7           | Eggs, flour, butter, wine, cheese            |
| 8           | Eggs, flour, butter, beer, potato chips      |
| 9           | Wine, beer                                   |
| 10          | Beer, potato chips                           |
| 11          | Butter, eggs                                 |
| 12          | Beer, potato chips                           |
| 13          | Flour, eggs                                  |
| 14          | Beer, potato chips                           |
| 15          | Eggs, flour, butter, wine, cheese            |
| 16          | Beer, wine, potato chips, cheese             |
| 17          | Wine, cheese                                 |
| 18          | Beer, potato chips                           |
| 19          | Wine, cheese                                 |
| 20          | Beer, potato chips                           |


Given Support = 35%

## Step-1: Count of Each Item

### Table-2: 1-Item Set Frequency

| Items | 1-Item set    | Frequency | Min support | Support     | Valid/Invalid |
|-------|---------------|-----------|-------------|-------------|---------------|
| 1     | Beer          | 11        | >=7         | 11/20 = 0.55| >=0.35 valid  |
| 2     | Wine          | 8         | >=7         | 8/20 = 0.40 | >=0.35 valid  |
| 3     | Cheese        | 8         | >=7         | 8/20 = 0.40 | >=0.35 valid  |
| 4     | Potato chips  | 10        | >=7         | 10/20 = 0.50| >=0.35 valid  |
| 5     | Eggs          | 7         | >=7         | 7/20 = 0.35 | >=0.35 valid  |
| 6     | Flour         | 6         | <7          | 6/20 = 0.30 | Invalid       |
| 7     | Butter        | 6         | <7          | 6/20 = 0.30 | Invalid       |

Min Support = 7, Min Confidence = 85%
Support = frequency(item) / total items
Confidence = support(item set) / support(antecedent)
Support Threshold = 7/20 = 0.35

## Step-2: Prune Step

Items 6-flour and 7-butter do not meet min support. So deleted remaining items meet min support count.

### Table-3: Remaining 1-Item Sets

| Items | 1-Item set    | Frequency |
|-------|---------------|-----------|
| 1     | Beer          | 11        |
| 2     | Wine          | 8         |
| 3     | Cheese        | 8         |
| 4     | Potato chips  | 10        |
| 5     | Eggs          | 7         |

## Step-3: Join Step â€“ Find Occurrences of 2-Item Set
### Table-4: 2-Item Set Frequency
| Items | 2-Item set           | Frequency |
|-------|----------------------|-----------|
| 1     | Beer, wine           | 2         |
| 2     | Beer, cheese         | 2         |
| 3     | Beer, potato chips   | 9         |
| 4     | Beer, eggs           | 2         |
| 5     | Wine, cheese         | 7         |
| 6     | Wine, potato chips   | 1         |
| 7     | Wine, eggs           | 2         |
| 8     | Cheese, potato chips | 1         |
| 9     | Cheese, eggs         | 3         |
| 10    | Potato chips, eggs   | 2         |

## Step-4: Prune Step â€“ Delete Subsets Which Do Not Meet Min Support >= 7

### Table-5: Valid 2-Item Sets

| Items | 2-Item set            | Frequency |
|-------|-----------------------|-----------|
| 1     | Beer, potato chips    | 9         |
| 2     | Wine, cheese          | 7         |

## Table-6: 3-Item Set Frequency

| Items | 3-Item set                     | Frequency | Support       | Min Support |
|-------|--------------------------------|-----------|---------------|-------------|
| 1     | Beer, potato chips, wine       | 1         | 1/20 = 0.05   | Invalid     |
| 2     | Beer, potato chips, cheese     | 1         | 1/20 = 0.05   | Invalid     |
| 3     | Wine, cheese, beer             | 2         | 2/20 = 0.10   | Invalid     |
| 4     | Wine, cheese, potato chips     | 1         | 1/20 = 0.05   | Invalid     |

No 3-item sets satisfy the minimum support.


Consider table-5 data 2-item sets as subsets.

- `{beer, potato chips}`, `{wine, cheese}`

Non-empty subsets are `{beer}`, `{potato chips}`, `{wine}`, `{cheese}`, `{beer, potato chips}`, `{wine, cheese}`

## Generate Association Rules

Minimum Support = 7, Minimum Confidence = 85%

### Association Rules:

- **Rule-1: `{Beer}` => `{potato chips}`**
  - Confidence = support(beer, potato chips) / support(beer) = (9/11) * 100 = 81% (not valid)

- **Rule-2: `{potato chips}` => `{beer}`**
  - Confidence = support(beer, potato chips) / support(potato chips) = (9/10) * 100 = 90% (valid)

- **Rule-3: `{wine}` => `{cheese}`**
  - Confidence = support(wine, cheese) / support(wine) = (7/8) * 100 = 87% (valid)

- **Rule-4: `{cheese}` => `{wine}`**
  - Confidence = support(wine, cheese) / support(cheese) = (7/8) * 100 = 87% (valid)

All the above association rules are strong and confidence is greater than the minimum confidence of 85%, except for Rule-1.

In [ ]:
# code for problem solution
from itertools import combinations
from collections import defaultdict

def load_data():
    data = [
        ["Beer", "Wine", "Cheese"],
        ["Beer", "Potato chips"],
        ["Eggs", "Flour", "Butter", "Cheese"],
        ["Eggs", "Flour", "Butter", "Beer", "Potato chips"],
        ["Wine", "Cheese"],
        ["Potato chips"],
        ["Eggs", "Flour", "Butter", "Wine", "Cheese"],
        ["Eggs", "Flour", "Butter", "Beer", "Potato chips"],
        ["Wine", "Beer"],
        ["Beer", "Potato chips"],
        ["Butter", "Eggs"],
        ["Beer", "Potato chips"],
        ["Flour", "Eggs"],
        ["Beer", "Potato chips"],
        ["Eggs", "Flour", "Butter", "Wine", "Cheese"],
        ["Beer", "Wine", "Potato chips", "Cheese"],
        ["Wine", "Cheese"],
        ["Beer", "Potato chips"],
        ["Wine", "Cheese"],
        ["Beer", "Potato chips"]
    ]
    return data

def generate_candidates(prev_candidates, k):
    candidates = []
    for i in range(len(prev_candidates)):
        for j in range(i + 1, len(prev_candidates)):
            if prev_candidates[i][:-1] == prev_candidates[j][:-1]:
                candidate = list(set(prev_candidates[i]) | set(prev_candidates[j]))
                if len(candidate) == k:
                    candidates.append(candidate)
    return candidates

def calculate_support(data, candidates):
    support_count = defaultdict(int)
    for transaction in data:
        for candidate in candidates:
            if set(candidate).issubset(set(transaction)):
                support_count[tuple(candidate)] += 1
    return support_count

def apriori(data, min_support, min_confidence):
    transactions = load_data()
    support_threshold = min_support * len(data)

    # Generate frequent itemsets of size 1
    frequent_itemsets = []
    candidate_itemsets = [[item] for item in set(item for transaction in data for item in transaction)]
    frequent_itemsets.append([itemset for itemset in candidate_itemsets if calculate_support(data, [itemset])[tuple(itemset)] >= support_threshold])

    k = 2
    while len(frequent_itemsets[-1]) > 0:
        candidate_itemsets = generate_candidates(frequent_itemsets[-1], k)
        frequent_itemsets.append([itemset for itemset in candidate_itemsets if calculate_support(data, [itemset])[tuple(itemset)] >= support_threshold])
        k += 1

    # Generate association rules
    association_rules = []
    for itemsets in frequent_itemsets[1:]:
        for itemset in itemsets:
            for i in range(1, len(itemset)):
                for subset in combinations(itemset, i):
                    antecedent = list(subset)
                    consequent = list(set(itemset) - set(antecedent))
                    antecedent_support = calculate_support(data, [antecedent])[tuple(antecedent)]
                    rule_support = calculate_support(data, [itemset])[tuple(itemset)]
                    confidence = rule_support / antecedent_support
                    if confidence >= min_confidence:
                        association_rules.append((antecedent, consequent, confidence))
    return association_rules

# Example usage
data = load_data()
min_support = 7 / len(data)
min_confidence = 0.85
association_rules = apriori(data, min_support, min_confidence)
for rule in association_rules:
    print(f"Rule: {rule[0]} -> {rule[1]}, Confidence: {rule[2]}")

Rule: ['Potato chips'] -> ['Beer'], Confidence: 0.9
Rule: ['Cheese'] -> ['Wine'], Confidence: 0.875
Rule: ['Wine'] -> ['Cheese'], Confidence: 0.875